<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>RevoStream uses your camera as a video source for recording and streaming.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>RevoStream uses your microphone as an audio source for recording and streaming.</string>
</dict>
</plist>
